services:
  # Base de datos PostgreSQL (Render la creará automáticamente)
  - type: pserv
    name: nutritrack_db
    plan: free
    region: oregon

  # API Spring Boot
  - type: web
    name: nutritrack-api
    plan: free
    region: oregon
    env: docker
    dockerfilePath: ./Dockerfile
    dockerCommand: java -Dspring.profiles.active=prod -jar app.jar
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: nutritrack_db
          property: connectionString
      - key: JWT_SECRET
        value: 4D6351655468576D5A7134743777217A25432A462D4A614E645267556B58703273357638792F423F4528482B4D6251655368566D597133743677397A24432646
